.container .card-img{
  width: 100%;
}

.container .order-text{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container .card-name{
  margin: 10px;
}

.container .card-diets{
  margin: 10px;
}

.container .card-hs{
  margin: 10px;
  color: rgb(101, 161, 101);
}