.div-form {
  border: 1px solid red;
  width: 500px;
  height: 700px;
  margin: 50px auto;
}

.div-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}