.paginated{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.paginated li a{
  color: #F2F2F2;
  border: 1px solid #F2F2F2;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 10px;
}

.paginated li a:hover{
  cursor: pointer;
  border: 1px solid #F2F2F2;
  color: #262625;
  background-color: #F2F2F2;
}

.paginated li .active {
  border: 2px solid rgb(253, 180, 180);
}