.nav {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.nav button{
  background-color: rgb(160, 160, 160);
  width: 150px;
  height: 35px;
  border: 1px solid red;
  border-radius: 8px;
}

.nav button:hover{
  background-color: red;
  border: 1px solid rgb(160, 160, 160);
  cursor: pointer;
  border-radius: 8px;
}